.tasksList {
    border: 2px solid black;
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
}

.tasksWrapper {
    padding-bottom: 20px;
    width: 90.5%;
    margin: 0 auto;
    margin-top: 15px;
}
