.task {
    width: 100%;
    background-color: burlywood;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
}

.task span {
    overflow-wrap: break-word;
    width: 90%;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media screen and (max-width: 768px) {
    .task span {
        overflow-wrap: break-word;
        text-align: left;
        padding-left: 15px;
        width: 60%;
    }
}

.task button {
    position: absolute;
    right: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: floralwhite;
    border: 1px solid black;
    cursor: pointer;
}

.task button:active {
    background-color: darkkhaki;
}
