.newTaskInput {
    width: 90%;
    height: 60px;
    border: 2px solid black;
    background-color: khaki;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

.newTaskInput input {
    width: 96%;
    height: 30%;
    background-color: lightgoldenrodyellow;
    margin-top: 18px;
}
