.newTaskInput {
    width: 61.6%;
    height: 60px;
    background-color: sandybrown;
    position: fixed;
    z-index: 1;
    border-bottom: 2px solid black;
}

.newTaskInput input {
    width: 96%;
    height: 30%;
    background-color: lightgoldenrodyellow;
    margin-top: 18px;
}
