.newTaskInput {
    width: 55.4%;
    height: 60px;
    background-color: sandybrown;
    position: fixed;
    z-index: 1;
    margin-left: 3%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.newTaskInput input {
    width: 96%;
    height: 30%;
    background-color: lightgoldenrodyellow;
    margin-top: 18px;
}
